<!DOCTYPE html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h3>Posts</h3>
        </div>
       
        <div class="card">            
            <div class="message-box">
                <ul class="list-group list-group-flush" id="msg-list"></ul>
                <div class="info"></div>
            </div>
            
            <div class="card-footer">
                <div class="input-group">
                    <input type="text" class="form-control" id="msg" placeholder="Post Your Thoughts" >
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" id="msgBtn">Post</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/chatroom.js"></script>
</body>
</html>